# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment and secrets
.env
.env.local
.env.*.local
server/.env

# Local Databases
*.db
*.db-journal
server/prisma/*.db

# Builds and caches
dist
dist-ssr
server/dist
cache
.hardhat
artifacts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
